.woocommerce table.form-table table.wcp-table {
  width: 100%;
  background: #fff;
  margin: 0 0 1.5em;
  table-layout: fixed;
  /* AND / OR select field */
}

.woocommerce table.form-table table.wcp-table td.wcp-condition,
.woocommerce table.form-table table.wcp-table td.wcp-action {
  width: 33%;
}

.woocommerce table.form-table table.wcp-table td.wcp-operator,
.woocommerce table.form-table table.wcp-table td.wcp-methods {
  width: 33%;
}

.woocommerce table.form-table table.wcp-table td.wcp-values {
  width: 32%;
}

.woocommerce table.form-table table.wcp-table td.wcp-remove {
  width: 2%;
  vertical-align: middle;
  text-align: right;
  vertical-align: top;
}

.woocommerce table.form-table table.wcp-table td.wcp-remove a.wcp-remove-row {
  color: #646970;
  text-decoration: none;
}

.woocommerce table.form-table table.wcp-table td.wcp-remove a.wcp-remove-row:focus {
  outline: none;
  box-shadow: none;
}

.woocommerce table.form-table table.wcp-table td.wcp-remove a.wcp-remove-row .dashicons {
  line-height: 34px;
}

.woocommerce table.form-table table.wcp-table .select2-container {
  min-width: 0 !important;
  margin-bottom: 0 !important;
  width: 100% !important;
}

.woocommerce table.form-table table.wcp-table .select2-container .select2-selection__rendered {
  line-height: 22px !important;
  padding: 0 5px;
}

.woocommerce table.form-table table.wcp-table .select2-container .select2-selection__rendered li {
  margin: 5px 5px 0 0;
}

.woocommerce table.form-table table.wcp-table .select2-container .select2-selection__choice {
  line-height: 16px;
}

.woocommerce table.form-table table.wcp-table .select2-container .select2-selection--single {
  height: 32px !important;
}

.woocommerce table.form-table table.wcp-table .select2-container .select2-search .select2-search__field {
  line-height: 22px;
  min-height: 22px;
  min-width: auto;
  padding: 0;
}

.woocommerce table.form-table table.wcp-table tr td {
  vertical-align: middle;
  margin: 0;
  line-height: 24px;
  padding: 1em;
  border-bottom: 2px solid #f9f9f9;
  vertical-align: top;
}

.woocommerce table.form-table table.wcp-table tbody tr:last-child td, .woocommerce table.form-table table.wcp-table tbody tr:last-child th {
  border-bottom: none;
}

.woocommerce table.form-table table.wcp-table tr.action_row .value_input,
.woocommerce table.form-table table.wcp-table tr.condition_row .value_input {
  display: none;
}

.woocommerce table.form-table table.wcp-table .value_input {
  width: 100%;
}

.woocommerce table.form-table table.wcp-table select {
  width: 100%;
}

.woocommerce table.form-table table.wcp-table textarea {
  width: 100%;
}

.woocommerce table.form-table table.wcp-table tr th input[type="text"],
.woocommerce table.form-table table.wcp-table tr td input[type="text"],
.woocommerce table.form-table table.wcp-table tr th select,
.woocommerce table.form-table table.wcp-table tr td select {
  max-width: 100%;
  line-height: 32px;
}

.woocommerce table.form-table table.wcp-table select[name="wcp_operator"] {
  line-height: 28px !important;
  width: auto !important;
}

.woocommerce table.form-table table.wcp-table .wcp_text_value_input {
  width: 100%;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-subtotal .wcp_subtotal_value_input {
  display: block;
  font-size: 12px;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-subtotal .wcp_text_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type- select.wcp_operator_select {
  display: none;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-products .wcp_product_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-shipping_method .wcp_shipping_method_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-customer_role .wcp_user_role_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-groups .wcp_groups_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-shipping_class .wcp_shipping_class_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-product_cats .wcp_category_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-product_tags .wcp_product_tag_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-product_types .wcp_product_type_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-coupon .wcp_coupon_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-lang_polylang .wcp_lang_polylang_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-lang_wpml .wcp_lang_wpml_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-date .wcp_date_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-ip_address .wcp_ip_address_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-billing_first_name.wcp-operator-contains .wcp_text_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-billing_last_name.wcp-operator-contains .wcp_text_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-billing_company.wcp-operator-contains .wcp_text_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-billing_address_1.wcp-operator-contains .wcp_text_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-billing_address_2.wcp-operator-contains .wcp_text_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-billing_city.wcp-operator-contains .wcp_text_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-billing_postcode.wcp-operator-is .wcp_postcode_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-billing_state .wcp_state_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-billing_country .wcp_country_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-currency .wcp_currency_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-billing_email .wcp_billing_email_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-billing_email.wcp-operator-exists .wcp_billing_email_value_input,
.woocommerce table.form-table table.wcp-table tr.wcp-type-billing_email.wcp-operator-notexists .wcp_billing_email_value_input {
  display: none;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-billing_phone .wcp_billing_phone_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-billing_phone.wcp-operator-exists .wcp_billing_phone_value_input,
.woocommerce table.form-table table.wcp-table tr.wcp-type-billing_phone.wcp-operator-notexists .wcp_billing_phone_value_input {
  display: none;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-shipping_first_name.wcp-operator-contains .wcp_text_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-shipping_last_name.wcp-operator-contains .wcp_text_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-shipping_company.wcp-operator-contains .wcp_text_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-shipping_address_1.wcp-operator-contains .wcp_text_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-shipping_address_2.wcp-operator-contains .wcp_text_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-shipping_city.wcp-operator-contains .wcp_text_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-shipping_postcode.wcp-operator-is .wcp_postcode_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-shipping_state .wcp_state_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-shipping_country .wcp_country_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-time .wcp_time_value_input {
  display: flex;
  flex-wrap: nowrap;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-time .wcp_time_value_input > select {
  flex: none;
  width: auto;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-time .wcp_time_value_input > span {
  flex: none;
  line-height: 34px;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-orders .wcp_text_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-orders .wcp_orders_value_input {
  display: block;
  font-size: 12px;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-orders .wcp_orders_status_input {
  margin: 5px 0;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-stock_status .wcp_stock_status_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.wcp-type-items .wcp_text_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table .wcp-match-by-name {
  margin-top: 10px;
  display: none;
}

.woocommerce table.form-table table.wcp-table .wcp-desc {
  font-size: .9em;
  color: #999;
  font-style: italic;
}

.woocommerce table.form-table table.wcp-table .value_input .description {
  font-size: .9em;
  color: #999;
  font-style: italic;
}

.woocommerce table.form-table table.wcp-table tr.action_row.wcp-action-type- td.wcp-methods * {
  display: none;
}

.woocommerce table.form-table table.wcp-table tr.action_row.wcp-action-type-add_fee .wcp_fee_value_input {
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.action_row.wcp-action-type-add_fee .wcp_fee_value_input input,
.woocommerce table.form-table table.wcp-table tr.action_row.wcp-action-type-add_fee .wcp_fee_value_input select {
  width: 100%;
  margin-bottom: 5px;
  display: block;
}

.woocommerce table.form-table table.wcp-table tr.action_row.wcp-action-type-add_fee .wcp_fee_value_input .wcp-fee-amount-inputs {
  display: flex;
  flex-wrap: nowrap;
}

.woocommerce table.form-table table.wcp-table tr.action_row.wcp-action-type-add_fee .wcp_fee_value_input .wcp-fee-amount-inputs input[type="number"] {
  margin-right: 5px;
  flex: auto;
  width: 60% !important;
  min-width: 0 !important;
}

.woocommerce table.form-table table.wcp-table tr.action_row.wcp-action-type-add_fee .wcp_fee_value_input .wcp-fee-amount-inputs select {
  flex: auto;
  width: 40%;
}

.woocommerce table.form-table table.wcp-table tr.action_row.wcp-action-type-set_no_payments_methods_msg td.wcp-methods .select2,
.woocommerce table.form-table table.wcp-table tr.action_row.wcp-action-type-set_no_payments_methods_msg td.wcp-methods select {
  display: none;
}

.woocommerce table.form-table table.wcp-table tr.action_row.wcp-action-type-set_no_payments_methods_msg .wcp_error_msg_input {
  display: block;
}

table.wcp-rulesets {
  margin-bottom: 30px;
}

table.wcp-rulesets td.wcp-ruleset-sort {
  cursor: move;
  font-size: 15px;
  text-align: center;
}

table.wcp-rulesets td.wcp-ruleset-sort::before {
  content: "\f333";
  font-family: Dashicons;
  text-align: center;
  line-height: 1;
  color: #999;
  display: block;
  width: 17px;
  float: left;
  height: 100%;
  line-height: 24px;
}

table.wcp-rulesets td, table.wcp-rulesets th {
  vertical-align: top;
  line-height: 24px;
  padding: 1em !important;
  font-size: 14px;
  background: #fff;
}

table.wcp-rulesets td li, table.wcp-rulesets th li {
  line-height: 24px;
  font-size: 14px;
}

table.wcp-rulesets td .woocommerce-help-tip, table.wcp-rulesets th .woocommerce-help-tip {
  margin: 0 !important;
}

table.wcp-rulesets thead th {
  vertical-align: middle;
}

table.wcp-rulesets tbody.wcp-ruleset-rows td {
  border-top: 2px solid #f9f9f9;
}

table.wcp-rulesets tbody.wcp-ruleset-rows tr:first-child td {
  border-top: 0;
}

table.wcp-rulesets ul, table.wcp-rulesets p {
  margin: 0;
}

table.wcp-rulesets .wcp-ruleset-name .wcp-row-actions {
  color: #a7aaad;
  font-size: 13px;
  padding: 2px 0 0;
  visibility: hidden;
}

table.wcp-rulesets .wcp-ruleset-name:hover .wcp-row-actions {
  visibility: visible;
}

table.wcp-rulesets .wcp-ruleset-name a.wcp-ruleset-delete {
  color: #a00;
}

table.wcp-rulesets .wcp-ruleset-name a.wcp-ruleset-delete:hover {
  color: red;
}

table.wcp-rulesets .wcp-ruleset-status .woocommerce-input-toggle {
  cursor: pointer;
}

table.wcp-rulesets tfoot .button-secondary {
  float: right;
}

/**
 * Health check
 */
.woo-conditional-payments-health-check .issue-container {
  margin-bottom: 10px;
  line-height: 24px;
  font-size: 14px;
  background: #fff9db;
  color: #91300a;
  border: 1px solid #ffd8a8;
}

.woo-conditional-payments-health-check .issue-container .title {
  border-bottom: 1px solid #ffd8a8;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}

.woo-conditional-payments-health-check .issue-container .title .toggle-indicator::before {
  content: "\f140";
  display: inline-block;
  font: normal 20px/1 dashicons;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  float: right;
}

.woo-conditional-payments-health-check .issue-container .title .toggle-indicator.open::before {
  content: "\f142";
}

.woo-conditional-payments-health-check .issue-container .details {
  display: none;
  padding: 20px;
}

.woo-conditional-payments-health-check .issue-container .details .fix {
  margin-top: 10px;
}

.woo-conditional-payments-health-check .issue-container .details .fix ul {
  font-weight: normal;
  list-style: disc;
  padding-left: 20px;
  margin: 10px 0 0;
}

/**
 * Welcome form (Pro only)
 */
#wcp-welcome-form {
  background: #ffffff;
  text-align: center;
  padding: 2em;
  margin: 2em 0 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  border-radius: 4px;
}

#wcp-welcome-form .wcp-logo img {
  display: inline-block;
  max-height: 42px;
  margin: 0 0 1em;
}

#wcp-welcome-form p {
  line-height: 1.4;
  font-size: 14px;
}

#wcp-welcome-form div.form-inputs {
  margin: 1.5em 0 2.5em;
  vertical-align: top;
}

#wcp-welcome-form div.form-inputs input {
  vertical-align: top;
}

#wcp-welcome-form div.form-inputs input[type="text"] {
  width: 300px;
}

#wcp-welcome-form div.form-inputs .wcp-spinner {
  background: url("../img/wpspin.gif") no-repeat center left;
  width: 16px;
  height: 30px;
  line-height: 30px;
  margin-left: 5px;
  display: inline-block;
  visibility: hidden;
}

#wcp-welcome-form .result .wcp-success {
  color: #2b8a3e;
}

#wcp-welcome-form .result .wcp-error {
  color: #c92a2a;
}

/**
 * License status label (Pro only)
 */
.we-license-status-label {
  color: #ffffff;
  padding: 5px 7px;
  font-size: 13px;
  border-radius: 5px;
  text-transform: uppercase;
  display: inline-block;
}

.we-license-status-label.license-ok {
  background: #2b8a3e;
  color: #ffffff;
}

.we-license-status-label.license-disabled {
  background: #c92a2a;
}

.we-license-status-label.license-unknown {
  background: #212529;
}

.we-license-error {
  display: inline-block;
  margin-left: 5px;
}

.we-license-last-checked {
  color: #666666;
  margin-top: 10px;
}

.we-license-renew {
  margin-top: 10px;
}
